/*  Overriding some bootstrap defaults */

.container-fluid {
  max-width: 97%;
  margin: auto;
}

.header {
  max-width: 77%;
  margin: auto auto 16px auto;
}

.container {
  max-width: 77%;
}

p>img {
  display: block;
  margin: 5px auto;
  border: 1px solid #FFF;
  border-radius: 4px;
  box-shadow: #999 0 0 5px;
}

.badge {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px;
  background-color: #5dade2;
  font-family: verdana;
  font-size: 10;
  font-weight:  normal;
}

.badge:hover{
  background-color: #333;
}

a.post-title{
  color: #545454;
}

a.post-title:hover {
  color: #545454;
}

ul.pills>li {
  display: inline;
  line-height: 24px;
}

.footer {
  text-align: center;
  margin: 16px 0;
}

blockquote {
  padding: 0 0 0 0;
  margin: 0 0 18px;
  border-left: 5px solid #EEE;
  background-color: #F9F9F9;
}

blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
  padding: 5px 5px 5px 18px;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
  padding: 13px 5px 5px 8px;
  margin-top: 0;
  text-align: center;
}

blockquote cite:before {
  content: "\2014 \2009";
}

blockquote cite {
  font-size: smaller;
  font-style: italic;
  display: block;
  margin-top: 5px;
  text-align: right;
}

hr {
  border-top: 1px solid #DDD;
}
